body {
  font-family: sans-serif;
  background-image: url(https://images.unsplash.com/photo-1535254973040-607b474cb50d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.list {
  list-style-type: none;
}

.items {
  letter-spacing: 1px;
}

.check {
  margin-right: 10px;
}

#app {
  background-color: rgba(0, 0, 0, .5);
  border: 4px inset pink;
  padding: 20px 20px 20px 40px;
}
